{% extends 'mail/base.html'%}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4 text-dark">Настройки</h1>
</div>

<div class="container">
    <div class="row text-start">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Клиент</th>
                <th scope="col">Время рассылки</th>
                <th scope="col">Периодичность</th>
                <th scope="col">Статус</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for object in object_list %}
            <tr>
                <th scope="row">{{object.client.email}}</th>
                <td>{{ object.mailing_time}}</td>
                <td> {{object.period}} дней</td>
                <td> {{object.status}}</td>
                <td>
                    <div class="btn-group">
                        <a href="{% url 'mail:edit_setting' object.pk %}"
                           class="btn btn-sm btn-outline-dark">Редактировать</a>
                        <a href="{% url 'mail:delete_setting' object.pk %}"
                           class="btn btn-sm btn-outline-dark">Удалить</a>
                    </div>
                </td>
            </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
</div>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <div class="btn-group">
        <a href="{% url 'mail:create_setting' %}"
           class="btn btn-lg btn-block btn-outline-dark">Добавить настройки</a>
        <a href="{% url 'mail:list_mail' %}"
           class="btn btn-lg btn-block btn-outline-dark">Письма</a>
    </div>
</div>


{% endblock %}